<ion-header>
  <ion-toolbar color={{this.item.catergory}}>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>checkout</ion-title>












    
  </ion-toolbar>
</ion-header>

<div>
 <ion-img [src]="this.item.pictures[0]"> </ion-img>
</div>

<div style="text-align: center; background-color: white;">
  <h3>{{this.item.name}}</h3>
</div>
<ion-content>

  <ion-list>
    <ion-item>
      <ion-label>Prix unitaire: {{this.item.price}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Quantité disponible: {{this.item.quantity}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Bon à savoir: {{this.item.info}}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
