<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-back-button></ion-back-button>
    <ion-title>About us</ion-title>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <ion-img src='assets/imgs/musicworld.jpg'></ion-img>
    <ion-card-header>
      
      <ion-card-title >MUSIC WORLD</ion-card-title>
      <ion-card-subtitle>B.P:9096 Yaoundé, Cameroon</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Established since 2010, music world is a 100% camerounian music app which promotes music worldwide...
    </ion-card-content>

    <div class="box1">
    <div  class="box2">
      <ion-label >All Rights Reserved ©</ion-label><br>
    </div>

    <div class="label-box">
    <ion-label >Developed by Jotsa Nguetsop Mikael | 2021</ion-label>
  </div>
</div>
  
  </ion-card>
  
  
</ion-content>
