.box{
    background-color: dodgerblue; color: black;
}

.box1{
    text-align: center;
}

.label-box{
    text-align: center;
    font-size: small;
}

ion-card-subtitle{
    text-align: center;
    justify-content: center; 
}

ion-card-content{
    text-align: center;
    justify-content: center;
}

ion-label{
    text-align: center;
}

ion-card-title{
    font-size: 18px;
    text-align: center;
}