*{
    padding: 0;
    margin: 0;
}

ion-card{
    margin: 8%;
    padding: 10%;
}
.chip{
    padding-left: 5%;
    padding-right: 5%;
}

.middle{
    text-align: center;
}

.big{
    font-size: 7em;
}

.play{
    font-size: 3em;
    padding-left: 5%;
}

.vol{
    font-size: 2em;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-right: 12%;


}


