
h3{
  font-weight: 800; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.image{
  padding: 5%;
}

.thumb{
  width: 90px;
}

.box{
  width: 120px; font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title{
  font-weight: 600;
  font-size: small;
}



#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-card-content{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
}



.sign-in{
  position: relative;
  left: 28vh;
  font-weight: 700;
}

ion-slides{
  height: 45vh;
}

.element{
  margin: -10%;
}