<ion-header >
  <ion-toolbar color=primary>
    <ion-buttons slot="start" >
       <ion-back-button></ion-back-button>
    <ion-title></ion-title>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
<ion-content >

  <ion-card *ngFor="let albums of datas | album:this.idAlbum">
    <ion-img src={{albums.image[0]}}></ion-img>
 
    <ion-card-content>
          <ion-card-title>
              <h5>
                <ion-label>
                 Album: <span>{{albums.title}}</span> 
                </ion-label>
              </h5>      
          </ion-card-title> 
    </ion-card-content>
  </ion-card>

  <h5>Songs of this album</h5>
  <ion-list  (click)="showDetails(song)"  *ngFor="let song of resultats | fruitfilter:this.idAlbum">
    <ion-item class="item">
      <ion-icon name="musical-notes-outline"></ion-icon>
          <ion-label>
            <ion-chip>Artist: {{song.author}}</ion-chip><br>
           <ion-chip >Title: {{song.title}}</ion-chip>
          </ion-label>
       
     </ion-item>
 </ion-list>
</ion-content>


<ion-footer style="background-color: white;">

</ion-footer>
